@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

// VARIAVEIS CORES
$cor-blue: #00c0ee;
$cor-black: #000000;
$cor-gray: #666666;
$cor-white: #ffffff;

nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 17.37px;
  border-bottom: 2px solid #c7c7c7;
}

nav .chart {
  align-self: center;
}

.title__page {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #333;
  text-align: center;
  padding-top: 1.5rem;
}

.filtro {
  display: flex;
  margin: 0 auto;
  width: 90%;
  margin-top: 12px;
}

.filtro__bntFiltrar,
.filtro__bntOrdenar {
  width: 100%;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 49px;
  border: 1px solid $cor-gray;
  background: $cor-white;
  cursor: pointer;
}

.catalogo {
  margin: 0 auto;
  margin-top: 2.179rem;
  display: grid;
  gap: 8px; /* Espaço entre os itens do catálogo */
  grid-template-columns: repeat(2, 1fr);
}

.catalogo__item {
  text-align: center;
}
.catalogo__item img {
  width: 161.793px;
  height: 242.554px;
  flex-shrink: 0;
}
.catalogo__item--titulo {
  margin-bottom: 7.98px;
  color: $cor-black;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.catalogo__item--preco {
  color: $cor-black;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.catalogo__item--parcelamento {
  color: $cor-gray;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.catalogo__item--btnComprar {
  display: flex;
  width: 162px;
  height: 33px;
  padding: 7px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: $cor-black;
  color: $cor-white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: unset;
  margin: 0 auto;
  margin-top: 11.71px;
  cursor: pointer;
}

.filtro__ordenar--header,
.filtro__filtrar--header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid $cor-gray;
}

.filtro__ordenar--header p,
.filtro__filtrar--header p {
  color: $cor-gray;
  font-family: Open Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.filtro__ordenar,
.filtro__filtrar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $cor-white;
  z-index: 1000;
  transition: all 0.3s ease;
}

.fechar-ordenar,
.fechar-filtrar {
  align-self: center;
}

.fechar-ordenar svg,
.fechar-filtrar svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.orderna__list {
  gap: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.orderna__item {
  cursor: pointer;
  color: $cor-black;
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filtrar__item {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  padding-top: 30px;
}

.filtrar__item p {
  color: $cor-gray;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.filtrar__item svg {
  width: 18px;
  height: 13px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: $cor-gray;
  align-self: center;
}

// DROPDOWNL
.filtrar__item {
  position: relative;
  // display: inline-block;
}

.dropdown-content {
  margin-top: 21px;
  display: none;
  position: absolute;
  top: 100%;
  left: 20px;
  background-color: $cor-white;
  min-width: 100%;
  // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.filtrar__item:hover .dropdown-content {
  display: block;
}

.filtrar__item:hover .dropdownTamanho {
  display: flex;
  flex-wrap: wrap;
  width: 42%;
  min-width: unset;
  gap: 0.5rem;
}

.dropdown-content__item {
  display: flex;
  align-items: center;
}

.dropdown-content__item input {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 10px;
}

.dropdown-content__item .dropdown-content__item--text {
  color: $cor-black;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

// DROPDOWN TAMANHO
.dropdownTamanho {
  list-style: none;
  padding: 0;
}

.dropdownTamanho__item {
  margin-bottom: 5px;
}

.dropdownTamanho__item input {
  display: none;
}

.dropdownTamanho__item label {
  display: inline-block;
  // padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dropdownTamanho__item input:checked + label {
  background-color: #fff;
  color: $cor-black;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.dropdownTamanho__item--text {
  color: rgba(0, 0, 0, 0.5);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.dropdownTamanho__item {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.dropdownTamanho__item label {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

// DROPDOWN VALORES

.container__carregarMais {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

.btnCarregarMais {
  padding: 8px 31px;
  align-items: flex-start;
  gap: 10px;
  background: #00c0ee;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: unset;
}

.filtro__bntOrdenar--desktop {
  display: none;
}

.btnCarregarMais {
  cursor: pointer;
}

.carregarMais__desktop {
  display: inline-flex;
  padding: 8px 31px;
  align-items: flex-start;
  gap: 10px;
  background: #00c0ee;
  color: $cor-white;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  grid-column: span 2;
  text-align: center;
  margin: 1rem 6rem;
  justify-content: center;
}

.container__itemCarrinho {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #00c0ee;
  position: absolute;
  top: 15px;
  right: 68px;
  display: flex;
  justify-content: center;
}

.numero__itemCarrinho {
  color: $cor-white;
  font-family: "Roboto";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 992px) {
  .grid__desktop {
    margin-top: 54px;
  }

  .ordenar__list {
    display: flex;
    flex-direction: column;   
  }

  .ordenar__container {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 142px;
    right: 159px;
    top: 130px;
  }

  .titulo__ordenar {
    cursor: pointer;
  }

  .ordenar__container span {
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .ordenar__list {
    gap: 10px;
  }

  .ordenar__item--desktop {
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 9px;
    cursor: pointer;
    display: none;
  }

  #ordenar__item--maisrecente {
    margin-top: 10px;
  }

  .titulo__ordenar svg {
    width: 12px;
    height: 9px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #666;
  }

  .ordenar__item--desktop:hover {
    background: var(--primaria, #00c0ee);
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .titulo__ordenar {
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .container__itemCarrinho {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #00c0ee;
    position: absolute;
    top: 30px;
    right: 160px;
    display: flex;
    justify-content: center;
  }

  .numero__itemCarrinho {
    color: $cor-white;
    font-family: "Roboto";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .carregarMais__desktop {
    grid-column: 2;
    display: inline-flex;
    padding: 8px 31px;
    align-items: flex-start;
    gap: 10px;
    background: #00c0ee;
    color: $cor-white;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;

    text-align: unset;
    margin: unset;
    justify-content: center;
  }

  nav {
    justify-content: space-between;
    padding: 0 166px;
    padding-bottom: 17.37px;
    padding-top: 16px;
  }
  .catalogo {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0px;
  }

  .filtro {
    display: none;
  }

  .title__page {
    display: flex;
    justify-content: flex-start;
    padding: 0 10.375rem;
    padding-top: 1.5rem;
    padding-bottom: 65px;
  }

  .filtrar__list {
    display: flex;
  }

  .container__desktop {
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 0 10.375rem;
  }

  .filtrar__list--desktop p {
    color: #333;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .filtrar__list--desktop-cores,
  .filtrar__list--desktop-preco {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .filtrar__item--desktop-cores,
  .filtrar__item--desktop-preco {
    display: flex;
  }

  .filtrar__item--desktop-cores input,
  .filtrar__item--desktop-preco input {
    margin-right: 10px;
  }

  .filtrar__item--desktop-cores .filtrar__item--text,
  .filtrar__item--desktop-preco .labelPreco__item--text {
    align-self: center;
    color: $cor-black;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  .titulo__tamanhos {
    margin-top: 25px;
    margin-bottom: 24px;
  }

  .filtrar__item--desktop-tamanho input:checked + label {
    background-color: #fff;
    color: $cor-black;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .filtrar__item--desktop-tamanho label {
    display: inline-block;
    // padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .filtrar__list--desktop-tamanho {
    list-style: none;
    padding: 0;
  }

  .filtrar__list--desktop-tamanho {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-width: unset;
    gap: 0.5rem;
  }

  .labelTamanho__item--text {
    color: rgba(0, 0, 0, 0.5);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .filtrar__item--desktop-tamanho {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  .filtrar__item--desktop-tamanho label {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;

    display: inline-block;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .filtrar__item--desktop-tamanho input {
    display: none;
  }

  .titulo__preco {
    margin-top: 25px;
    margin-bottom: 14px;
  }

  .catalogo__item img {
    width: 195px;
    height: 293px;
    flex-shrink: 0;
  }

  .filtro__bntOrdenar--desktop {
    display: block;
    position: absolute;
    right: 162px;
    top: 117px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 142px;
    height: 42px;
    flex-shrink: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: $cor-white;
  }

  .filtro__bntOrdenar--desktop svg {
    width: 12px;
    height: 9px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #666;
    margin-left: 10px;
  }

  .orderna__list--desktop {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #fff;
    width: 140px;
    height: 107px;
    flex-shrink: 0;
    cursor: pointer;
  }

  .filtro__bntOrdenar--desktop:hover + .orderna__list--desktop,
  .orderna__list--desktop:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 162px;
    top: 158px;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 11px;
    gap: 10px;
  }

  .orderna__item--desktop {
    padding-left: 8px;
  }

  .orderna__item--desktop:hover {
    background: var(--primaria, #00c0ee);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .container__carregarMais {
    display: none;
  }

  .container__carregarMais--desktop {
    grid-column: 2;
  }

  // ESCONDE O FILTRO PARA DESKTOP
  .filtros__container--desktop {
    display: none;
  }

  #verTodasCoresBtn {
    display: flex;
  }

  #verTodasCoresBtn svg {
    align-self: center;
    padding-left: 2px;
    width: 7px;
    height: 5px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1200px) {
  .catalogo {
    gap: 64px;
  }
  .grid__desktop {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0 10.375rem;
  }

  .filtros__container--desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .dropdownTamanho__item input:checked + label {
    background-color: #fff;
    color: $cor-black;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .titulos__filtro--desktop {
    color: #333;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  #verTodasCoresBtn {
    border: none;
    background-color: $cor-white;
    width: 100%;
    height: 16px;
    flex-shrink: 0;
    color: #666;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    text-decoration-line: underline;
    text-align: start;
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .filtros__container--desktop {
    display: none;
  }

  .ordenar__container {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .container__itemCarrinho {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #00c0ee;
    position: absolute;
    top: 15px;
    right: 56px;
    display: flex;
    justify-content: center;
  }

  .numero__itemCarrinho {
    color: $cor-white;
    font-family: "Roboto";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .container__itemCarrinho {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #00c0ee;
    position: absolute;
    top: 15px;
    right: 68px;
    display: flex;
    justify-content: center;
  }

  .numero__itemCarrinho {
    color: $cor-white;
    font-family: "Roboto";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .container__itemCarrinho {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #00c0ee;
    position: absolute;
    top: 15px;
    right: 152px;
    display: flex;
    justify-content: center;
  }

  .numero__itemCarrinho {
    color: $cor-white;
    font-family: "Roboto";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
